## Pandas Refersher

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#Importing the data from different file types
df_csv = pd.read_csv('pokemon.csv')
df_xls = pd.read_excel('pokemon_data.xlsx')
df_txt = pd.read_csv('pokemon_data.txt',delimiter = "\t")
print(df_csv.head())
print(df_xls.head())
print(df_txt.head())

   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4             Charmander   Fire     NaN    309  39      52       43

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
4       60       50     65           1      False
   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

## Reading Pandas data

In [13]:
print(df_csv.columns)
print(df_csv['Name'][0::2])
print(df_csv[['Name','Legendary']])
#Use of iloc
print(df_csv.iloc[0::2])
print(df_csv.iloc[0::2]['Legendary'])

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
0                      Bulbasaur
2                       Venusaur
4                     Charmander
6                      Charizard
8      CharizardMega Charizard Y
                 ...
790                       Noibat
792                      Xerneas
794             Zygarde50% Forme
796          DiancieMega Diancie
798           HoopaHoopa Unbound
Name: Name, Length: 400, dtype: object
                      Name  Legendary
0                Bulbasaur      False
1                  Ivysaur      False
2                 Venusaur      False
3    VenusaurMega Venusaur      False
4               Charmander      False
..                     ...        ...
795                Diancie       True
796    DiancieMega Diancie       True
797    HoopaHoopa Confined       True
798     HoopaHoopa Unbound       True
799              Volcanion       True

[800 rows x 2 columns]
       #                       Name   Type 1  Type 2  Total   HP  Attack  \
0      1                  Bulbasaur    Grass  Poison    318   45      49
2      3                   Venusaur    Grass  Poison    525   80      82
4      4                 Charmander     Fire     NaN    309   39      52
6      6                  Charizard     Fire  Flying    534   78      84
8      6  CharizardMega Charizard Y     Fire  Flying    634   78     104
..   ...                        ...      ...     ...    ...  ...     ...
790  714                     Noibat   Flying  Dragon    245   40      30
792  716                    Xerneas    Fairy     NaN    680  126     131
794  718           Zygarde50% Forme   Dragon  Ground    600  108     100
796  719        DiancieMega Diancie     Rock   Fairy    700   50     160
798  720         HoopaHoopa Unbound  Psychic    Dark    680   80     160

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         49       65       65     45           1      False
2         83      100      100     80           1      False
4         43       60       50     65           1      False
6         78      109       85    100           1      False
8         78      159      115    100           1      False
..       ...      ...      ...    ...         ...        ...
790       35       45       40     55           6      False
792       95      131       98     99           6       True
794      121       81       95     95           6       True
796      110      160      110    110           6       True
798       60      170      130     80           6       True

[400 rows x 13 columns]
0      False
2      False
4      False
6      False
8      False
       ...
790    False
792     True
794     True
796     True
798     True
Name: Legendary, Length: 400, dtype: bool

In [14]:
#Use of loc is to locate based on condition
print(df_csv.loc[df_csv['Legendary']==True])

       #                 Name    Type 1    Type 2  Total   HP  Attack  \
156  144             Articuno       Ice    Flying    580   90      85
157  145               Zapdos  Electric    Flying    580   90      90
158  146              Moltres      Fire    Flying    580   90     100
162  150               Mewtwo   Psychic       NaN    680  106     110
163  150  MewtwoMega Mewtwo X   Psychic  Fighting    780  106     190
..   ...                  ...       ...       ...    ...  ...     ...
795  719              Diancie      Rock     Fairy    600   50     100
796  719  DiancieMega Diancie      Rock     Fairy    700   50     160
797  720  HoopaHoopa Confined   Psychic     Ghost    600   80     110
798  720   HoopaHoopa Unbound   Psychic      Dark    680   80     160
799  721            Volcanion      Fire     Water    600   80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
156      100       95      125     85           1       True
157       85      125       90    100           1       True
158       90      125       85     90           1       True
162       90      154       90    130           1       True
163      100      154      100    130           1       True
..       ...      ...      ...    ...         ...        ...
795      150      100      150     50           6       True
796      110      160      110    110           6       True
797       60      150      130     70           6       True
798       60      170      130     80           6       True
799      120      130       90     70           6       True

[65 rows x 13 columns]

## Sorting/Describing Data

In [19]:
print(df_csv.sort_values('Name',ascending = False))
print(df_csv.sort_values(['Name','HP'],ascending = [True,True]))

       #                     Name   Type 1  Type 2  Total   HP  Attack  \
794  718         Zygarde50% Forme   Dragon  Ground    600  108     100
695  634                 Zweilous     Dark  Dragon    420   72      85
46    41                    Zubat   Poison  Flying    245   40      45
631  570                    Zorua     Dark     NaN    330   40      65
632  571                  Zoroark     Dark     NaN    510   60     105
..   ...                      ...      ...     ...    ...  ...     ...
393  359          AbsolMega Absol     Dark     NaN    565   65     150
392  359                    Absol     Dark     NaN    465   65     130
68    63                     Abra  Psychic     NaN    310   25      20
511  460  AbomasnowMega Abomasnow    Grass     Ice    594   90     132
510  460                Abomasnow    Grass     Ice    494   90      92

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
794      121       81       95     95           6       True
695       70       65       70     58           5      False
46        35       30       40     55           1      False
631       40       80       40     65           5      False
632       60      120       60    105           5      False
..       ...      ...      ...    ...         ...        ...
393       60      115       60    115           3      False
392       60       75       60     75           3      False
68        15      105       55     90           1      False
511      105      132      105     30           4      False
510       75       92       85     60           4      False

[800 rows x 13 columns]
       #                     Name   Type 1  Type 2  Total   HP  Attack  \
510  460                Abomasnow    Grass     Ice    494   90      92
511  460  AbomasnowMega Abomasnow    Grass     Ice    594   90     132
68    63                     Abra  Psychic     NaN    310   25      20
392  359                    Absol     Dark     NaN    465   65     130
393  359          AbsolMega Absol     Dark     NaN    565   65     150
..   ...                      ...      ...     ...    ...  ...     ...
632  571                  Zoroark     Dark     NaN    510   60     105
631  570                    Zorua     Dark     NaN    330   40      65
46    41                    Zubat   Poison  Flying    245   40      45
695  634                 Zweilous     Dark  Dragon    420   72      85
794  718         Zygarde50% Forme   Dragon  Ground    600  108     100

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
510       75       92       85     60           4      False
511      105      132      105     30           4      False
68        15      105       55     90           1      False
392       60       75       60     75           3      False
393       60      115       60    115           3      False
..       ...      ...      ...    ...         ...        ...
632       60      120       60    105           5      False
631       40       80       40     65           5      False
46        35       30       40     55           1      False
695       70       65       70     58           5      False
794      121       81       95     95           6       True

[800 rows x 13 columns]

In [20]:
#Print the statistical datas
df_csv.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [21]:
# Print the count and datatupe for each column
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [22]:
# Modifying data
# To drop columns
df_csv = df_csv.drop(columns=['Sp. Atk', 'Sp. Def'])
print(df_csv.head())

   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  Speed  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49     45
1  2                Ivysaur  Grass  Poison    405  60      62       63     60
2  3               Venusaur  Grass  Poison    525  80      82       83     80
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123     80
4  4             Charmander   Fire     NaN    309  39      52       43     65

   Generation  Legendary
0           1      False
1           1      False
2           1      False
3           1      False
4           1      False

## Saving Pandas Data

In [27]:
#Save to csv
df_csv.to_csv('pokemon_modified.csv',index=False)
#Save to excel
df_csv.to_excel('pokemon_modified.xlsx',index=False)
#Save to txt
df_csv.to_csv('pokemon_modified.txt',index=False,sep='\t')